.hero {
    display: flex;
    max-width: 800px
}

.hero__name {
    font-size: 150px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    color: var(--ink)
}

